node_modules
_docs
documentation
build
dist

Dockerfile*
docker-compose*

npm-debug.log
.dockerignore
.git
.gitignore
.eslintignore
.eslintrc.js
.vscode

*/bin
*/obj

README.md
ISSUE_TEMPLATE.md
CHANGELOG.md
LICENSE